body{margin:0px; font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#000000; overflow:hidden;}
form, h1, h2, h3, h4, h5, img{margin:0px; padding:0px; border:0px;}
html, body{margin:0px; padding:0px; width:100%; height:100%;}
.bluesky{background: rgb(47,169,229); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzJmYTllNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZWY5ZmUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(47,169,229,1) 0%, rgba(238,249,254,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(47,169,229,1)), color-stop(100%,rgba(238,249,254,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(47,169,229,1) 0%,rgba(238,249,254,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(47,169,229,1) 0%,rgba(238,249,254,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(47,169,229,1) 0%,rgba(238,249,254,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(47,169,229,1) 0%,rgba(238,249,254,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2fa9e5', endColorstr='#eef9fe',GradientType=0 ); width:100%; height:100%; overflow:hidden; position:relative;  margin:auto;
}
#stage{width:20000px; position:absolute; left:0px; bottom:0px; height:200px;  z-index:8;}
.mudroadtexture{ background-image:url(../images/mudroad.gif); background-repeat:repeat; height:50%; z-index:10; position:absolute; left:0px; bottom:0px;  width:2000px; outline:0px;}
.bridgetexture{ background-image:url(../images/bridge.gif); background-repeat:repeat; height:50%; z-index:10; position:absolute; left:0px; bottom:0px;  width:2000px; outline:0px;}
.crocodial{ background-image:url(../images/croco.gif); z-index:9; background-repeat:repeat; height:50%;   position:absolute; left:0px; bottom:0px;  width:200px; outline:0px;}

#box {background-repeat:no-repeat; width:63px; height:90px;  }
.waterwarn200{width:179px; height:4px; position:absolute; left:9px; bottom:-14px; }
.grasstree{position:absolute; z-index:6; left:0px; bottom:0px; height:80px; width:20000px;}
.grass{height:132px; position:absolute; left:0px; bottom:-66px; background-image:url(../images/grass.png); background-repeat:repeat-x;   width:100%; z-index:6;}
.maintree{position:absolute; z-index:7; left:0px; bottom:0px; height:80px; width:20000px;}
.tree1{position:absolute; left:755px; bottom:9px; width:186px; height:193px; background-image:url(../images/tree1.png);}
.tree2{position:absolute; left:755px; bottom:4px; width:186px; height:193px; background-image:url(../images/tree2.png);}
.seenlayer{height:300px; position:absolute; left:0px; bottom:0px; width:20000px; z-index:1; }
.kutubminar{width:591px; height:300px; background-image:url(../images/kutubminar.png); left:1100px; position:absolute; bottom:80px;}

.enmybox{position:absolute; z-index:80; left:0px; bottom:0px; height:300px; width:20000px;  }

.tort{position:absolute; left:6000px; width:100px; top:130px; -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: 'FlipH';  }

